useDynLib(prc)

export(prc)
export(four_pl_prc, s.dot.f)
export(compute.A, prcsp, prcstruct, mixlik)
export(quadratic.eiv, quad.f, quadratic.eiv.sp)

import(kyotil)
importFrom(nlme, gnls, gnlsControl)

S3method(coef, prc)
S3method(coef, prc)
S3method(plot, prc)
S3method(predict, prc)
S3method(print, prc)
S3method(lines, prc)
S3method(mixlik, prc)

S3method(print, quad)
S3method(coef, quad)
S3method(plot, quad)
S3method(lines, quad)
